.navBarContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height:2vh;
    width: 100vw;
  }
  .navLink {
    color: #19181A;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
  }
.homecont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.allpostcon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.allpostcon2{
  border: 1px solid;
  width: 30vw;
  margin: 20px;
}
.loginContainer,.SingupContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}